# this extension doesn't need any node modules
# if I don't ignore node_modules, `vsce` will pack optional dependencies into the extension
node_modules

# output files
artifacts
out/**/*.js
out/**/*.js.map
out/**/*.json
!out/index.js

# scripts
scripts
tsconfig*.json

# documents
docs
*.md

# sources
src
test

# github files
.github

# cache
cache

# vscode package
.vsix

# vscode configuartion
.vscode/**

# vscode test files
.vscode-test/**

# ignore gitignore fuke
.gitignore

# cache
utils/request-cache/**

# example files
examples/**

# utils scripts
utils/*.js

# archive files
*.tgz
*.vsix
*.zip
*.tar
